<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/home_page_styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/common_styles.css" />
    <title>{{title}}</title>
  </head>
  <body class="container">
    <div class="wrapper">
      <div class="item first">
        <span class="big_text">Бонус</span>
        <span class="small_text">За отметку в телеграмм</span>
        <div class="picture first_picture">
          <img src="assets/instagram_icon.svg" alt="item_icon" />
        </div>
      </div>
      <div class="item second">
        <span class="big_text">Бонус</span>
        <span class="small_text">За отзыв о товаре</span>
        <div class="picture second_picture">
          <img src="assets/feedback_icon.svg" alt="item_icon" />
        </div>
      </div>
      <div class="item third">
        <span class="big_text">Вопрос</span>
        <span class="small_text">Задйте вопрос продавцу</span>
        <div class="picture third_picture">
          <img src="assets/question_icon.svg" alt="item_icon" />
        </div>
      </div>
      <div class="item fourth">
        <span class="big_text">Акция</span>
        <span class="small_text">Успейте приобрести товары по акции</span>
        <div class="picture fourth_picture">
          <img src="assets/action_icon.svg" alt="item_icon" />
        </div>
      </div>
      <div class="item fifth">
        <span class="big_text">Товары</span>
        <span class="small_text">Ознакомьтесь со всем ассортиментом</span>
        <div class="picture fifth_picture">
          <img src="assets/items_icon.svg" alt="item_icon" />
        </div>
      </div>
    </div>
  </body>
</html>
